body{
  margin:0;
  font-family:'Segoe UI';
  background:#eef2f7;
}

/* NAVBAR */
.navbar{
  background:linear-gradient(135deg,#4facfe,#00f2fe);
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

/* HERO */
.hero{
  text-align:center;
  padding:20px;
}

/* SEARCH */
.search{
  text-align:center;
  margin:20px;
}

.search input{
  padding:10px;
  width:200px;
}

.search button{
  padding:10px;
  background:#4facfe;
  color:white;
  border:none;
}

/* CARD */
.card{
  background:white;
  margin:15px;
  padding:15px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* BUTTONS */
.btns button{
  margin:5px;
  padding:8px;
  border:none;
  border-radius:6px;
  background:#ddd;
}
