body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  margin-top: 80px;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  opacity: 0.8;
}

/* SEARCH */
.search-box {
  margin-top: 20px;
}

.search-box input {
  padding: 15px;
  width: 280px;
  border-radius: 10px;
  border: none;
}

.search-box button {
  padding: 15px;
  border: none;
  background: #00c853;
  color: white;
  border-radius: 10px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 40px;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
